<p id="notice"><%= notice %></p>

<h1>Listing Exercise Names</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @exercise_names.each do |exercise_name| %>
      <tr>
        <td><%= exercise_name.name %></td>
        <td><%= link_to 'Show', exercise_name %></td>
        <td><%= link_to 'Edit', edit_exercise_name_path(exercise_name) %></td>
        <td><%= link_to 'Destroy', exercise_name, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Exercise name', new_exercise_name_path %>
